<section class="shop-page">

  <div class="shop-toolbar">
    <div class="resultado-busqueda" *ngIf="busqueda">
      <p>Resultados para <strong>“{{ busqueda }}”</strong></p>
      <span>{{ productos.length }} {{ productos.length === 1 ? 'producto encontrado' : 'productos encontrados' }}</span>
    </div>
    <div class="toolbar-line"></div>

   
  </div>

  <section class="products-section">

    <div class="products-grid">

      <article
        class="producto-card"
        *ngFor="let producto of productos">

       <a [routerLink]="['/productos', producto.slug]" class="producto-link">
        <div class="producto-imagen">
          <span *ngIf="producto.precio.descuento > 0" class="badge-offer">
            {{ producto.precio.descuento }}% OFF
          </span>

          <img
            [src]="
                'assets/img/' +
                producto.imagen_url +
                (hoverProducto === producto.id ? '-1.jpg' : '-0.jpg')
            "
            [alt]="producto.nombre"
            (mouseenter)="hoverProducto = producto.id"
            (mouseleave)="hoverProducto = null"
         />
        </div>
       </a>

        <div class="producto-info">

          <h3>
            {{producto.nombre}}
          </h3>

          <div class="precio">
            <span *ngIf="producto.precio.descuento > 0" class="precio-anterior">
              {{ producto.precio.base | currency:'ARS':'symbol':'1.2-2' }}
            </span>

            <strong>
              {{ producto.precio.final | currency:'ARS':'symbol':'1.2-2' }}
            </strong>
          </div>

          <p class="transferencia">
            {{producto.precio.transferencia | currency:'ARS':'symbol':'1.2-2'}}
            con Transferencia
          </p>

          <p class="cuotas" *ngIf="producto.precio.cuotas.length > 1">

              <strong>x{{ producto.precio.cuotas[1].cantidad }}</strong>

              {{
                  producto.precio.cuotas[1].valorCuota
                  | currency:'ARS':'symbol':'1.2-2'
              }}

            sin interés
          </p>

          <button
            class="comprar"
            (click)="comprar(producto)">

            Comprar

          </button>

        </div>

      </article>

    </div>

    <p class="sin-resultados" *ngIf="busqueda && productos.length === 0">
      No encontramos productos con ese nombre. Probá con otra búsqueda.
    </p>

  </section>

</section>
