<div class="navbar">

  <div class="navbar-top">

    <button
      type="button"
      class="hamburger"
      [attr.aria-expanded]="menuOpen"
      aria-label="Abrir menú"
      (click)="alternarMenu()"
    >
      ☰
    </button>

    <div class="logo">
      EXEL PROFESSIONAL LINE
    </div>

    <div class="icons">
      
      <a routerLink="/carrito" class="carrito-navbar" (click)="cerrarMenu()">

        <i class="fa-solid fa-shopping-cart"></i>

        <span class="badge" *ngIf="cantidadCarrito > 0">

          {{ cantidadCarrito }}

        </span>

      </a>
    </div>

  </div>

  <nav class="navbar-menu" [class.open]="menuOpen" [attr.aria-hidden]="!menuOpen">

    <ul>

      <li>
        <a [routerLink]="['/']" (click)="cerrarMenu()">Inicio</a>
      </li>


      <li *ngFor="let categoria of menu" (mouseenter)="categoria.open = true" (mouseleave)="categoria.open = false">

        <button
          type="button"
          class="menu-category"
          [attr.aria-expanded]="categoria.open"
          (click)="alternarCategoria(categoria)"
        >
          {{ categoria.nombre }}
        </button>

        <ul class="submenu" [class.submenu--visible]="categoria.open" *ngIf="categoria.subcategorias?.length">

          <li *ngFor="let sub of categoria.subcategorias">
            <a [routerLink]="['/productos/subcategoria', sub.slug]" (click)="cerrarMenu()">
              {{ sub.nombre }}
            </a>
          </li>

        </ul>
      </li>

      <li>
        <a [routerLink]="['/productos']" (click)="cerrarMenu()">Mas Vendidos</a>
      </li>

    </ul>

  </nav>

</div>
